{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block Title %}
Booking
{% endblock  %}
{% block content %}
<h2 class="text-center">Make an Appointment</h2>
<hr>
<div class="container w-50 p-3 my-5 bg-black text-center text-white border border-white rounded">
    <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                Please correct the errors below:
                <ul>
                    {% for error in form.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        <br>
        <button class="btn btn-primary mb-4" type="submit">Submit</button>
    </form>
</div>
{% endblock content %}
